{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset hasła</title>
        <link href="{% static 'kupmleko/styles.css' %}" rel="stylesheet">
        <script src="{% static 'kupmleko/reset_email.js' %}"></script>
    </head>
    <body>
        <form action="{% url 'password_change' %}" method="POST">
            {% csrf_token %}
            <div class="logo-container">
                <img src="{% static 'kupmleko/logo.jpg' %}" alt="KupMleko Logo" class="logo">
            </div>
            {% if message %}
                <h1>{{ message }}</h1>
            {% else %}
            <input type="hidden" name="uuidb64" value="{{ uuidb64 }}">
            <input type="hidden" name="otp" value="{{ otp }}">
            
            <label for="password">Nowe hasło</label>
            <input type="password" id="password" name="password" required>
            
            <label for="confirm-password">Potwierdź nowe hasło</label>
            <input type="password" id="confirm-password" name="confirm_password" required>

            <button type="submit">Zresetuj</button>
            {% endif %}
        </form>
    </body>
</html>